/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.vagrant
*.sublime-project
*.sublime-workspace
/public/*log*
/node_modules
/public/assets
/.sass-cache
/.idea
/.vagrant
